body {
    font-family: "Proba Pro", "SansSerif";
    color: #fff;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.accordeon-background {

}

.d-none {
    display: none;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('../fonts/ProbaPro-Regular.ttf') format('truetype');
}

/* header */

header {
    height: 320px;
}

header.main_header {
    background-image: url("/img/header_background.png");
    background-size: cover;
}

header .header-logo img{
    padding: 35px 17px 0 0;
}

header h1.header-caption {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 160%;
    color: #FFFFFF;
}

header h3.header-description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.015em;
    color: #FFE358;
    margin: 0;
}


header .visual_impairment {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

header .visual_impairment a {
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    padding-left: 10px;
}

header .login-button {
    background: #FFE358;
    font-size: 24px;
    line-height: 24px;
    color: #3849F9;
    padding: 8px 60px;
}

header .upper_header {
    border-bottom: 3px solid #FFFFFF;
    height: 225px;
}

header .bottom_header {
    height: 95px;
    overflow: visible ;
}

.header-cards-container {
    width: 960px;
    margin: -20px auto 0 auto;
}

.header-cards-container .card {
    width: 100%;
    height: 300px;
}

.card-facade {
    background-color: #FFE358;
    /*background: url("../img/parent_facade.png");*/
    width: 100%;
    height: 100%;
}

.card-caption {
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    color: #004BC1;
    padding: 18px 0 10px 0;
}

.card-icon {
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-content {
    background-color: #FFE358;
    height: 300px;
}

.list-group {
    border-radius: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #004BC1;
    padding: .53rem 1.25rem;
}

.list-group-item:hover {
    color: #004BC1;
}

/* main content */

.main-content {
    margin-top: 250px;
}

.count {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 90.5%;
    color: #004BC1;
    border-bottom: 4px solid #FFE358;
    float: left;
}

.count-info {
    float: right;
    font-size: 22px;
    line-height: 90.5%;
    color: #3849F9;
}

.parent-info {
    margin-top: 60px;
    font-size: 72px;
    line-height: 90.5%;
    color: #3849F9;
    text-align: left;
    margin-left: 110px;
}

/* collapse */

.panel-group {
    margin-top: 40px;
    margin-left: 100px;
}

.panel-title a {
    font-size: 24px;
    line-height: 94%;
    letter-spacing: 0.025em;
    color: #000000;
}

.panel-body {
    color: #000000;
    background: #FFE358;
}