body {
    font-family: "Proba Pro", "SansSerif";
    color: #fff;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.background-yellow {
    background: #FFE358;
}

.background-blue {
    background: #3849F9;
}

.d-none {
    display: none;
}

@font-face {
    font-family: 'Proba Pro';
    src: url('../fonts/ProbaPro-Regular.ttf') format('truetype');
}

/* header */

header {
    height: 320px;
}

header.main_header {
    background-image: url("/img/header_background.png");
    background-size: cover;
}

header .header-logo img{
    padding: 35px 17px 0 0;
}

header h1.header-caption {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 160%;
    color: #FFFFFF;
}

header h3.header-description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.015em;
    color: #FFE358;
    margin: 0;
}


header .visual_impairment {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

header .visual_impairment a {
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    padding-left: 10px;
}

header .login-button {
    background: #FFE358;
    font-size: 24px;
    line-height: 24px;
    color: #3849F9;
    padding: 8px 60px;
}

header .upper_header {
    border-bottom: 3px solid #FFFFFF;
    height: 225px;
}

header .bottom_header {
    height: 95px;
    overflow: visible ;
}

.header-cards-container {
    width: 960px;
    margin: -20px auto 0 auto;
}

.header-cards-container .card {
    width: 100%;
    height: 300px;
}

.card-facade {
    background-color: #FFE358;
    /*background: url("../img/parent_facade.png");*/
    width: 100%;
    height: 100%;
}

.card-caption {
    font-family: Proba Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    color: #004BC1;
    padding: 18px 0 10px 0;
}

.card-icon {
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-content {
    background-color: #FFE358;
    height: 300px;
}

.list-group {
    border-radius: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #004BC1;
    padding: .53rem 1.25rem;
}

.list-group-item:hover {
    color: #004BC1;
}

/* main content */

.main-content {
    margin-top: 250px;
}

.count {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 90.5%;
    color: #004BC1;
    border-bottom: 4px solid #FFE358;
    float: left;
}

.count-info {
    float: right;
    font-size: 22px;
    line-height: 90.5%;
    color: #3849F9;
}

.parent-info {
    margin-top: 60px;
    font-size: 72px;
    line-height: 90.5%;
    color: #3849F9;
    text-align: left;
    margin-left: 110px;
}

/* collapse */

.panel-group {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 35px;
}

.panel-default {
    border: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
}


.panel-default > .panel-heading {
    background-color: transparent;
    border: none;
}

.panel-heading {
    background-color: transparent;
}


.panel-title a {
    font-size: 24px;
    line-height: 94%;
    letter-spacing: 0.025em;
    color: #000000;
}

.panel-body {
    color: #000000;
    background: #FFE358;
}

/* developments */
.developments {
    background-color: #004BC1;
    padding: 30px 30px 20px 70px;
}

.developments-caption {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 90.5%;
    color: #FFE358;
}

.developments-text {
    font-size: 24px;
    line-height: 105%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

/* map section */

.map-caption {
    font-size: 72px;
    line-height: 90.5%;
    text-align: left;
    color: #3849F9;
    padding: 40px 0 20px 0;
}

form {
    margin-bottom: 25px;
}

form select {
    width: 100%;
    padding: 3px 10px;
    border: 2px solid #3849F9;
    font-size: 24px;
    line-height: 21px;
    align-items: center;
    text-indent: 5px;
    color: #B4AEAE;
}

.map {
    height: 465px;
    width: 870px;
    background: url("../img/map.png");
    margin-bottom: 20px;
}
/* sidebar section ( news and articles ) */

.news {
    margin-top: 25px;
    padding: 16px 10px 24px 10px;
}

.news h1 {
    font-size: 72px;
    line-height: 90.5%;
    color: #3849F9;
    text-align: center;
    padding-bottom: 40px;
}

.news p {
    font-size: 18px;
    line-height: 94%;
    letter-spacing: 0.025em;
    color: #000000;
    padding: 0 10px 10px 10px;
}

.news p span {
    font-size: 12px;
    color: #828282;
}

.btn-news {
    display: flex;
    color: #FFE358;
    background: #3849F9;
    padding: 10px 68px;
    border-radius: 0px;
    margin-left: 10px;
    font-size: 24px;
    outline: none !important;
}


.articles {
    margin-top: 45px;
    padding: 41px 10px 22px 10px;
}

.articles h1 {
    color: #FFE358;
    padding-top: 0;
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    font-size: 72px;
    line-height: 90.5%;
}

.articles p {
    padding: 0 10px 20px 10px;
    font-size: 18px;
    letter-spacing: 0.025em;
    line-height: 94%;
    letter-spacing: 0.025em;
}

.articles p a {
    color: #FFFFFF;
}

.articles .btn-articles {
    display: flex;
    background: #FFE358;
    color: #3849F9;
    padding: 10px 68px;
    border-radius: 0px;
    margin-left: 10px;
    font-size: 24px;
    outline: none !important;
}

/* footer */
footer {
    /*height: 635px;*/
    background-image: url("../img/footer_background.png");
}

footer .footer-caption {
    font-size: 80px;
    line-height: 160%;
    color: #FFFFFF;
}

footer .footer-description {
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.015em;
    color: #3849F9;
}

footer .footer-logo {
    margin-top: 30px;
}

footer .banner {
    margin-top: 40px;
}

footer .form-caption {
    font-size: 72px;
    line-height: 90.5%;
    color: #3849F9;
    text-align: right;
    padding-right: 65px;
    margin-top: 30px;
}

.footer-contact-info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 90.5%;
    /* or 16px */
    color: #000000;
    margin-top: 20px;
}

form.feedback {
    margin-top: 25px;
}

form.feedback input {
    margin-bottom: 5px;
    width: 100%;
    padding: 4px 10px;
    background: #FFFFFF;
    border: 2px solid #3849F9;
    box-sizing: border-box;
}

form.feedback textarea {
    border: 2px solid #3849F9;
    box-sizing: border-box;
}

form.feedback button {
    font-size: 24px;
    line-height: 24px;
    background: #3849F9;
    color: #FFE358;
    border-radius: 0;
    border: none;
    padding: 3px 32px;
}

.copyright {
    width: 200px;
    letter-spacing: 0.01em;
    color: #3849F9;
    margin: 20px auto 20px auto;
}